<div class="title">
  <h1>Live Blog</h1>
  <p>Editor View</p>
</div>
<div style="text-align:center">
  <p><strong>Fill and submit the form below to create a new post</strong></p>
  <form method="POST" action="/post/store" enctype="multipart/form-data" class="post-form">
    <%= token_tag %>
 	<%= render 'post_form' %>
  </form>
</div>